absl-py==2.1.0
aiohttp==3.9.5
aiosignal==1.3.1
altair==5.3.0
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==4.3.0
appnope==0.1.4
appscript==1.2.5
archspec @ file:///croot/archspec_1709217642129/work
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attacut==1.0.6
attrs==23.2.0
Automat==22.10.0
Babel==2.14.0
beautifulsoup4==4.12.3
bertopic==0.16.2
binaryornot==0.4.4
bleach==6.1.0
blinker==1.8.2
boltons @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/boltons_1699240838368/work
Brotli @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/brotli-split_1699237319520/work
build==1.2.1
cachetools==5.3.3
certifi @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3bzbkiv4h_/croot/certifi_1707229182618/work/certifi
cffi @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_b4nang6w_y/croot/cffi_1700254307954/work
chardet==5.2.0
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.7
cloudpickle==3.0.0
comm==0.2.2
conda @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1fw8y_hw5x/croot/conda_1710772053739/work
conda-content-trust @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/conda-content-trust_1699283351805/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1702997573971/work/src
conda-package-handling @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3dblbw3die/croot/conda-package-handling_1700254361862/work
conda_package_streaming @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/conda-package-streaming_1699238858289/work
constantly==23.10.4
contourpy==1.2.0
cookiecutter==2.6.0
cramjam==2.8.3
cryptography @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_b1p0q5vizk/croot/cryptography_1702070293829/work
cssselect==1.2.0
cycler==0.12.1
Cython==0.29.37
dask==2024.4.1
dask-expr==1.0.10
dataclasses-json==0.6.5
debugpy==1.8.1
decorator==5.1.1
deepcut==0.7.0.0
defusedxml==0.7.1
distro @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/distro_1701803554172/work
docopt==0.6.2
docx2pdf==0.1.8
docx2txt==0.8
dsm-services @ git+https://github.com/storemesh/dsm-services.git@108a455294eaba855543e54db459d5fcd637d711
dsm-wizservices @ git+https://github.com/Dont-HurtMe/TopicModel-service.git@96f975d5cda35b3d5968c7712f7947eb71b6d2fc
dynaconf==3.2.5
et-xmlfile==1.1.0
executing==2.0.1
fastjsonschema==2.19.1
fastparquet==2024.2.0
filelock==3.13.3
fire==0.6.0
flatbuffers==24.3.7
fonttools==4.50.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.3.1
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.6
google-api-core==2.19.1
google-api-python-client==2.137.0
google-auth==2.32.0
google-auth-httplib2==0.2.0
google-generativeai==0.7.2
google-pasta==0.2.0
googleapis-common-protos==1.63.2
grpcio==1.64.1
grpcio-status==1.62.2
h11==0.14.0
h5py==3.10.0
hdbscan==0.8.33
http-server @ git+https://github.com/SothanaV/http-server.git@62b5a7d11b6de0ac574887afdcc3a4385cd53eb7
httpcore==1.0.4
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.22.1
hyperlink==21.0.0
idna @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/idna_1699237644810/work
importlib_metadata==7.1.0
importlib_resources==6.4.0
incremental==22.10.0
intervaltree==3.1.0
ipykernel==6.29.3
ipython==8.22.2
ipywidgets==8.1.2
isoduration==20.11.0
itemadapter==0.9.0
itemloaders==1.2.0
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.3.2
json5==0.9.24
jsonpatch==1.33
jsonpointer==2.1
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.4
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.13.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.4
jupyterlab_widgets==3.0.10
jupyterthemes==0.20.0
keras==3.1.1
keybert==0.8.4
kiwisolver==1.4.5
langchain-community==0.0.38
langchain-core==0.1.52
langsmith==0.1.56
lesscpy==0.15.1
libclang==18.1.1
libmambapy @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/mamba-split_1701805498280/work/libmambapy
llvmlite==0.42.0
locket==1.0.0
lxml==5.2.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.2
matplotlib==3.8.3
matplotlib-inline==0.1.6
mdurl==0.1.2
menuinst @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_26a7xsau78/croot/menuinst_1706732941263/work
mistune==3.0.2
ml-dtypes==0.3.2
more-itertools==10.2.0
mpmath==1.3.0
multidict==6.0.5
mypy-extensions==1.0.0
namex==0.0.7
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.3
ndjson==0.3.1
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.8.1
notebook==7.1.2
notebook_shim==0.2.4
nptyping==2.5.0
numba==0.59.1
numpy==1.26.4
omegaconf==2.3.0
openai==1.35.12
openpyxl==3.1.2
opt-einsum==3.3.0
optree==0.10.0
orjson==3.10.3
overrides==7.7.0
packaging==23.2
pandas==2.2.1
pandocfilters==1.5.1
parse==1.20.1
parsel==1.9.1
parso==0.8.3
partd==1.4.1
pdfkit==1.0.0
pexpect==4.9.0
pickles==0.1.1
pillow==10.2.0
platformdirs==4.2.0
plotly==5.22.0
pluggy @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pluggy_1699237243543/work
ply==3.11
pre-commit-hooks==4.6.0
prometheus_client==0.20.0
prompt-toolkit==3.0.43
Protego==0.3.1
proto-plus==1.24.0
protobuf==4.25.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==15.0.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycosat @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pycosat_1699241479669/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==2.7.1
pydantic_core==2.18.2
pydeck==0.9.1
PyDispatcher==2.0.7
Pygments==2.17.2
pynndescent==0.5.11
pyod==1.1.3
pyOpenSSL==24.1.0
pyparsing==3.1.2
PyPDF2==3.0.1
pyproject_hooks==1.0.0
PySocks @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pysocks_1699237568675/work
pythainlp==5.0.2
python-crfsuite==0.9.10
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-json-logger==2.0.7
python-slugify==8.0.4
pytoolconfig==1.3.1
pytz==2024.1
PyYAML==6.0.1
pyzmq==25.1.2
qtconsole==5.5.1
QtPy==2.4.1
quadtreed3==0.1.1
queuelib==1.7.0
rank-bm25==0.2.2
referencing==0.34.0
regex==2023.12.25
requests @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_b3tnputioh/croot/requests_1707355573919/work
requests-file==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rope==1.13.0
rpds-py==0.18.0
rsa==4.9
ruamel.yaml @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/ruamel.yaml_1699241608430/work
safetensors==0.4.2
scikit-learn==1.4.1.post1
scipy==1.12.0
Scrapy==2.11.2
Send2Trash==1.8.2
sentence-transformers==2.6.1
sentencepiece==0.2.0
service-identity==24.1.0
setuptools==68.2.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.30
ssg==0.0.8
stack-data==0.6.3
streamlit==1.34.0
sympy==1.12
tenacity==8.3.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
termcolor==2.4.0
terminado==0.18.1
text-unidecode==1.3
tf_keras==2.16.0
threadpoolctl==3.4.0
tinycss2==1.2.1
tldextract==5.1.2
tokenizers==0.15.2
toml==0.10.2
toolz==0.12.1
toposort==1.10
torch==2.3.1
torchvision==0.18.1
tornado==6.4
tqdm @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/tqdm_1701805884490/work
traitlets==5.14.2
transformers==4.39.2
truststore @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/truststore_1701805928787/work
Twisted==24.3.0
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.10.0
tzdata==2024.1
umap-learn==0.5.5
uri-template==1.3.0
uritemplate==4.1.1
urllib3 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_aff2m3lasf/croot/urllib3_1707770561896/work
w3lib==2.1.2
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
Werkzeug==3.0.1
wheel==0.41.2
widgetsnbextension==4.0.10
wizmap==0.1.3
wrapt==1.16.0
xgboost==2.0.3
yarl==1.9.4
zipp==3.18.1
zope.interface==6.4
zstandard @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/zstandard_1699238791645/work
